/* Global and Body Styles */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  padding-top: 40px;
}

/* Typography */
h1 {
  color: white;
}

p {
  color: rgb(172, 172, 172);
}

p.lead {
  color: white;
}

span,
h5 {
  color: #9dc83b;
}

/* Navigation Styles */
nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  height: 1px;
  background: linear-gradient(to right, transparent, #78972f, transparent);
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-collapse {
  transition: opacity 0.1s ease, transform 0.3s ease;
  text-align: center;
}

.navbar-collapse.collapsing {
  opacity: 0;
  transform: translateY(-8px);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #9dc83b;
}

/* Layout */
.container {
  flex: 1;
}

/* Image and Carousel Styles */
.carousel-item img {
  filter: brightness(0.7);
}

.carousel-item {
  transition: transform 1s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 0.6s ease-in-out;
}

/* Card Styles */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 1px 5px 0 #9dc83b;
  cursor: pointer;
}

.card-img-top {
  border: 1px solid rgb(24, 24, 24);
  border-bottom: none;
}

.card-body {
  border: 1px solid rgb(24, 24, 24);
  border-top: none;
}

/* Accordion Styles */
.accordion-item {
  border-color: #9dc83b;
  background-color: black;
}

.accordion-button {
  background-color: black;
  color: #9dc83b;
  border-color: #9dc83b;
}

.accordion-button:not(.collapsed) {
  background-color: #6c757d;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: black;
  color: white;
}

.accordion-button::after {
  filter: invert(1);
}
